<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Evaluate news nlp</title>
  </head>
  <body>
    <div class="header-container">
      <h1 class="header">Use the aylien api</h1>
      <p class="header-description">
        The AYLIEN Text Analysis API is a package of Natural Language Processing
        and Machine Learning-powered APIs for analyzing and extracting various
        kinds of information from textual content.
      </p>
    </div>
    <div class="form-container">
      <h2 class="form-header">Insert the url you want to scan!</h2>
      <form>
        <div class="form-group">
          <label class="label" for="">url</label>
          <input id="url" type="text" name="input" />
        </div>
        <input
          type="submit"
          class="button"
          value="submit"
          onclick="return Client.handleSubmit(event)"
          onsubmit="return Client.handleSubmit(event)"
        />

        <p id="checker"></p>
      </form>
    </div>
    <div class="response-container">
      <h2 class="response-header">This is your response</h2>
      <div class="response-description">
        <table class="table">
          <tr>
            <th>Polarity</th>
            <th>Subjectivity</th>
            <th>Polarity confidence</th>
            <th>Subjectivity confidence</th>
          </tr>
          <tr>
            <td id="polarity"></td>
            <td id="subjectivity"></td>
            <td id="polarity-conf"></td>
            <td id="subjectivity-conf"></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
