.header-container {
  background-color: lightblue;
  padding: 6rem;
  color: white;

  .header {
    font-size: 3rem;
  }

  .header-description {
    font-weight: 300;
    width: 50%;
    font-size: 0.8rem;
  }
}
